<div class="container d-flex flex-column gap-3 h-100 mh-100 p-5 text-center">
  <div class="border d-flex flex-fill justify-content-around mh-100 rounded-5 row shadow-sm">
    <div class="col-lg-4 m-5">
      <h1 class="h3 m-0 mb-3 p-0">Recipes</h1>
      <div class="d-flex gap-3">
        <label for="search" class="h5">Search:</label>
        <input id="search" class="px-3 rounded-5 w-75" />
      </div>
      <hr />
      <ul id="recipe-list" class="list-group">
        <% if not @recipes.nil? %>
          <%  @recipes.each do |recipe| %>
            <li id="<%= recipe.id %>" class="list-group-item list-group-item-action w-100"><%= recipe.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="recipe-details" class="border col-lg h-100 overflow-y-auto p-0 rounded-5"></div>
  </div>
</div>
