<div class="container d-flex flex-column gap-3 h-100 mh-100 p-5 text-center">
  <div class="border d-flex justify-content-center p-3 rounded-5 row">
    <h1 class="h1 p-3">Recipes</h1>
    <div>
      <label for="search" class="h4">Search:</label>
      <input id="search" class="w-25" />
    </div>
  </div>
  <div class="border d-flex flex-fill justify-content-around ps-5 rounded-5 row" style="max-height:80%;">
    <ul id="recipe-list" class="col-lg-4 my-5 list-group">
      <% if not @recipes.nil? %>
        <%  @recipes.each do |recipe| %>
          <li id="<%= recipe.id %>" class="list-group-item list-group-item-action w-100"><%= recipe.name %></li>
        <% end %>
      <% end %>
    </ul>
    <div id="recipe-details" class="border col-lg h-100 overflow-y-auto rounded-5"></div>
  </div>
</div>
