<div class="wrapper">
  <div class="mid-section">
    <h1 style="font-size: 3rem; margin:1rem; padding: 0;">
      Recipes
    </h1>
    <div class="row">
      <ul class="recipe-list" id="recipe-list">
        <% @recipes.sort_by {|element| element.name}.each do |recipe| %>
          <li id=<%= recipe.id %>><%= recipe.name %></li>
        <% end %>
      </ul>
      <div class="recipe-details" id="recipe-details">
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "recipes" %>
