<div class="container d-flex flex-column justify-content-center h-100 p-5 rounded-pill row-gap-5">
  <div class="border-bottom d-flex h1">
    <input id="recipe-name" placeholder="Recipe name" class="border-0 px-3 rounded-pill text-center w-100" />
  </div>
  <div class="border-bottom d-flex h2">
    <input id="recipe-description" placeholder="Recipe description" class="border-0 px-3 rounded-pill text-center w-100" />
  </div>
  <div class="border-bottom d-flex gap-5 justify-content-center">
    <div class="col" ></div>
    <span class="align-items-center col d-flex h3 justify-content-center m-0 p-0">
      Tags:
    </span>
    <div class="col d-flex justify-content-end">
      <input id="tag-name" class="px-3 py-1 rounded-pill" placeholder="Tag name" type="text" />
      <button id="add-tag" class="btn d-flex ">
        <i class="bi bi-plus-circle d-flex fs-3"></i>
      </button>
    </div>
  </div>
  <div id="tags-container" class="align-items-center border-bottom d-flex hstack justify-content-center">
  </div>
  <div class="border-bottom d-flex h3 justify-content-center">
    Ingredients:
  </div>
  <div id="ingredients-container" class="align-items-center border-bottom d-flex flex-column">
  </div>
  <div class="border d-flex gap-5 hstack m-0 my-2 px-4 rounded-pill">
    <input id="amount" class="border-0 d-flex h-100 px-3 rounded-pill" type="number" value="1">
    <select id="unit" class="border-0 d-flex h-100 px-3 rounded-pill">
      <% @units.each do |unit|%>
        <option value="<%= unit.id %>"><%= unit.name %></option>
      <%end%>
    </select>
    <div class="col-sm d-flex flex-nowrap text-start">
      <input id="name" class="border-0 d-flex flex-fill px-3 rounded-pill" placeholder="Ingredient name" type="text">
      <button id="add-entry-button" class="btn" type="button">
        <i class="bi bi-plus-circle fs-3"></i>
      </button>
    </div>
  </div>
</div>
